<nav class="nav-extended teal accent-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <ul class="right">
            <li><a (click)="controller.logout()">Logout</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <a class="nav-title" [routerLink]="['/home/dashboard']">Dashboard</a>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
            <i (click)="addDevice()" class="material-icons">add</i>
        </a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<modal></modal>
<div id="deleteModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Exclusão</h4>
        <p>Você tem certeza que deseja excluir esse dispositivo?</p>
        <div class="row"></div>
        <ul>
            <li><label>Descrição</label>: {{ dashboardController.entity.description }}</li>
            <li><label>Nível Mínimo de Água</label>: {{ dashboardController.entity.min_water_level }}</li>
            <li><label>Nível Médio de Água</label>: {{ dashboardController.entity.med_water_level }}</li>
            <li><label>Nível Máximo de Água</label>: {{ dashboardController.entity.max_water_level }}</li>
            <li><label>Raio do Recipiente</label>: {{ dashboardController.entity.recipient_radius }}</li>
            <li><label>Altura do Recipiente</label>: {{ dashboardController.entity.recipient_height }}</li>
            <li><label>Trigger de Entrada de Água</label>: {{ dashboardController.entity.water_inlet_open_trigger?.label }}</li>
            <li><label>Trigger de Saída de Água</label>: {{ dashboardController.entity.water_inlet_close_trigger?.label }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="pointer" (click)="dashboardController.delete()" class="red white-text modal-action modal-close waves-effect waves btn-flat">Excluir</a>
    </div>
</div>