<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <ul class="right">
            <li><a (click)="controller.logout()">Logout</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <span class="nav-title">Dashboard</span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
            <i (click)="addDevice()" class="material-icons">add</i>
        </a>
    </div>
</nav>
<router-outlet></router-outlet>
<modal></modal>